.body_exito {
    background-color: black;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

/* En caso no funcione usaremos*/
/*height:100vh*/

.content_exito a {
    color: greenyellow;
}

